@import 'std'

.carousel-inner
  overflow hidden
  width 100%
  position relative
  backface-visibility hidden
  perspective 1000

.carousel
	.item
		backface-visibility hidden
		display none
		position relative
		width 100%
		transform translate3d(0, 0, 0)
		& > img
			display block
			line-height 1
	.next,
	.prev
		display block
		position absolute
	.active
		display block

// js dependent carousel css

.lt-ie9 .carousel .item
	zoom 1

/* slide styled */

.cssanimations .slide:not(.force-compat)
	.active
		left 0
		&.left
			left -100%
		&.right
			left 100%
	.next
		left 100%
		&.left
			left 0
	.prev
		left -100%
		&.right
			left 0

.csstransforms3d .slide:not(.force-compat)
	.item
		left 0 !important
	.active
		transform translate3d(0, 0, 0)
		&.left
			transform translate3d(-100%, 0, 0)
		&.right
			transform translate3d(100%, 0 ,0)
	.next
		transform translate3d(100%, 0, 0)
		&.left
			transform translate3d(0, 0, 0)
	.prev
		transform translate3d(-100%, 0, 0)
		&.right
			transform translate3d(0, 0, 0)


// Horizontal Slide
.slide.horizontal
	.next,
	.prev
		top 0

.csstransforms3d .slide.horizontal:not(.force-compat) .item
	top 0 !important

// Vertical Slide
.slide.vertical
	.carousel-outer
		overflow hidden
		position relative
	.carousel-inner
		overflow hidden
		position static
		width 100%
	.active
		top auto
	.next,
	.prev
		left 0
		top auto


.no-cssanimations .slide.vertical
	.item
		position absolute
	.next
		bottom 100%

.cssanimations .slide.vertical:not(.force-compat)
	.active
		bottom 0
		&.left
			bottom -100%
			left auto
		&.right
			bottom 100%
			left auto
	.next,
	.prev
		left 0
	.next
		bottom 100%
		&.left
			bottom 0
	.prev
		bottom -100%
		&.right
			bottom 0

.csstransforms3d .slide.vertical:not(.force-compat)
	.active
		bottom 0 !important
		&.left
			transform translate3d(0, 100%, 0)
		&.right
			transform translate3d(0, -100%, 0)
	.next,
	.prev
		transform translate3d(0, 0, 0)
	.next
		transform translate3d(0, -100%, 0)
		&.left
			transform translate3d(0, 0, 0)
	.prev
		transform translate3d(0, 100%, 0)
		&.right
			transform translate3d(0, 0, 0)

// Fade
.cssanimations .fade:not(.force-compat)
	.item
		opacity 0
	.active
		opacity 1
		&.left,
		&.right
			left 0
			opacity 0
	.next,
	.prev
		&.left,
		&.right
			opacity 1

.fade
	.next,
	.prev
		left 0
		top 0